.mat-toolbar{
    border-bottom: 0.3px solid;
    border-bottom-color: rgb(136, 136, 136);
    background-color:#32063a;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    }
   .logo-text{
     color: white;
     font-size: 3em;
     font-family: Georgia, 'Times New Roman', Times, serif;
   }
   .icon{
     color: aliceblue;
   }
    .image {
        margin: 2px 15px 1px 15px;
    }
    
    .logo-text {
        font-size: 28px;
        font-weight: bold;
        margin-left: 4px;
    }
    
    .spacer {
        flex: 1 1 auto;
    }
    
    .account-logo {
        font-size: 17px;
        margin-top: 17px;
        margin-right: 5px;
        cursor: pointer;
    }
    
    .placer {
        display: flex;
        flex-wrap: wrap;
        margin-top: 4px;
        margin-right: 70px;
    }
  
    .example-container {
      display: flex;
      flex-direction: column;
    }
    
    .example-container > * {
      width: 100%;
    }
  .video-player{
    margin-left: 25%;
    margin-top: 10%;
  }