<app-header-redirect-home></app-header-redirect-home>
<div class="the-k-margin">
                <h2>&nbsp;&nbsp;Images&nbsp;</h2>
</div>
<div class="images-container">
        <div class="card" style="width: 18rem;background-color: #240629;">
                <img src="../../assets/image.jpg" class="card-img-top" alt="Image">
                <div class="card-body">
                        <h5 class="card-title" style="color: white;">Title</h5>
                </div>
        </div>
        <div class="card" style="width: 18rem;background-color: #240629;">
                <img src="../../assets/image.jpg" class="card-img-top" alt="Image">
                <div class="card-body">
                        <h5 class="card-title" style="color: white;">Title</h5>
                </div>
        </div>
        <div class="card" style="width: 18rem;background-color: #240629;">
                <img src="../../assets/image.jpg" class="card-img-top" alt="Image">
                <div class="card-body">
                        <h5 class="card-title" style="color: white;">Title</h5>
                </div>
        </div>
        <div class="card" style="width: 18rem;background-color: #240629;">
                <img src="../../assets/image.jpg" class="card-img-top" alt="Image">
                <div class="card-body">
                        <h5 class="card-title" style="color: white;">Title</h5>
                </div>
        </div>
        <div class="card" style="width: 18rem;background-color: #240629;">
                <img src="../../assets/image.jpg" class="card-img-top" alt="Image">
                <div class="card-body">
                        <h5 class="card-title" style="color: white;">Title</h5>
                </div>
        </div>
</div>