<app-header-live></app-header-live>
<div class="content-container">
    <p class="content-text">
      Hi Friend <br> First of all ,<br> Happy Birthday Bro <br>
      Wherever your feet may take, Whatever endeavour you lay hands on.. I wish you may always be successful<br>
      <br>
      And Now coming to what's this website for?<br>
      It is a collection of our memories that we embarked on our always growing journey<br>
      The top-right explorer button will freshen those days.<br>
      Developed with Love By Sagar Mahapatra in association with :<br>
      - Ranjeet Upadhyay<br>
      - JagatDeep Pattnaik<br>
      - Anand Padhi<br>
    </p>
</div>