<app-header-redirect-home></app-header-redirect-home>
<div class="video-container">
    <div class="video-player" [innerHtml]="iFrameHtml"></div>
</div>
<div class="text-container">
        <p class="dance-practise-text">
                Yeah !!! We did it , Oops JP !
        </p>
</div>
<div class="video-container">
    <div class="video-player" [innerHtml]="danceHTML"></div>
</div>
<div class="text-container">
        <p class="dance-practise-text">
                Let's Rewind It
        </p>
</div>
<div class="video-container">
        <div class="video-player" [innerHtml]="memoriesHTML"></div>
    </div>
    <div class="text-container">
            <p class="dance-practise-text">
                    The Cake Celebrations, Remember ???
            </p>
</div>
<div class="video-container">
                <div class="video-player" [innerHtml]="infyDanceHTML"></div>
            </div>
            <div class="text-container">
                    <p class="dance-practise-text">
                            Infosys Dance Performance
                    </p>
        </div>

